*, *::after, *::before {
  box-sizing: border-box;
}

body {
   margin: 0;
   background-color: #f7f8fc;
   min-height: 100vh;
   height: 100%;
   display: grid;
   grid-template-columns: clamp(220px, 25%, 280px) 1fr;
   font-family: 'mulish', sans-serif;
}

h1, h2, p {
   margin: 0;
}

/* main layout */
main {
   grid-column-start: 2;
   display: grid;
   grid-template-rows: auto auto 1fr auto;
   grid-template-columns: repeat(8, 1fr);
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   max-height: 100%;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

/* sidebar styles */
.sidebar {
   grid-column-start: 1;
   display: flex;
   flex-direction: column;
   background: #363740;
   color: #A4A6B3;
   padding-top: 0.35rem;
}

.sidebar i {
   color: #60626E;
   margin-right: 1.25rem;
   margin-left: 0.75rem;
   min-width: 25px;
}

.sidebar li {
   display: flex;
   align-items: center;
   padding: 1.1rem;
   font-size: 1.05rem;
}

.logo-container {
   padding: 1.25rem;
   padding-bottom: 1.75rem;
}

.sidebar-nav {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
}

/* titlebar styles */
header {
   display: grid;
   grid-template-columns: 1fr 320px;
   grid-row: 1;
   grid-column: 1 / -1;
   padding: 1rem 0;
}

header *, header *::after {
   box-sizing: content-box;
}

header h1 {
   font-size: 1.45rem;
   margin-top: auto;
   margin-bottom: auto;
   color: #252733;
}

header i {
   color: #c5c7cd;
   font-size: 1.1rem;
   padding: 0.35rem;
}

header i:last-child {
   margin-right: 1.25rem;
   margin-left: 0.75rem;
}

header img {
   width: 43px;
   border-radius: 50%;
}

.icons {
   border-right: 2px solid #dfe0eb;
   margin-right: 1.75rem
}

.fa-bell {
   position: relative;
}

.fa-bell::after {
   content: "";
   position: absolute;
   top: 0.25rem;
   left: 0.925rem;
   width: 6px;
   height: 6px;
   background: blue;
   border-radius: 50%;
   border: 2px solid #f7f8fc;
}

.user-img {
   width: 48px;
   height: 48px;
   display: grid;
   place-items: center;
   border-radius: 50%;
   border: 2px solid #dfe0eb;
   margin-left: 0.6rem;
}

header > div {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.25rem 1.25rem;
   padding-left: 0;
   padding-right: 0;
}

.user {
   grid-column-start: 2;
}

.name {
   font-size: 0.875rem;
   color: #252733;
   font-weight: 600;
}

/* info cards section */
.info-cards {
   grid-row: 2;
   grid-column: 1 / -1;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1.5rem;
   margin-top: 1rem;
}

@media (max-width: 1080px) {
   .info-cards {
      grid-template-columns: repeat(2, 1fr);
   }   
}

.info-card {
   border: 2px solid #dfe0eb;
   border-radius: 0.5rem;
   background: #fff;
   text-align: center;
   font-weight: bold;
   padding: 1.5rem 0;
}

.info-card:last-child {
   margin-right: 0;
}

.info-card > p:first-child {
   color: #9fa2b4;
   font-size: 1.1rem;
}

.info-card > p:last-child {
   font-size: 2.25rem;
   padding-top: 0.75rem;
   color: #252733;
}

/* trends graph section */
.trends {
   grid-row: 3;
   grid-column: 1 / 6;
}

.trends img {
   width: 100%;
}

/* data container section */
.data-container {
   grid-row: 3;
   grid-column: 6 / -1;
}

/* large cards section */
.lg-cards {
   grid-row: 4;
   grid-column: 1 / -1;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}